* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 60px;
    bottom: 0%;
    position: relative;
}

ul,
li {
    color: #b8b8b8;
}

h1,
h2,
h3,
h5,
h6 {
    color: #b8b8b8;
}

h6 {
    font-size: small;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
.main {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(linear, #000000, #001338, #4b566b);
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(50%, #001338), to(#4b566b));
    background: -moz-linear-gradient(top, #000000, #001338, #4b566b);
}

.main1 {
    margin-top: -20px;
    background: -webkit-linear-gradient(linear, #000000, #001338, #4b566b);
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(50%, #001338), to(#4b566b));
    background: -moz-linear-gradient(top, #000000, #001338, #4b566b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

footer {
    min-height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: none;
    margin-top: 20px;
    line-height: 15px;
    position: fixed;
}

/* Imagens */

.profile {
    max-width: 284px;
    max-height: 284px;
    border-radius: 50%;
    margin-top: 100px;
    position: fixed;
    display: inline-flex;
}

.github {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    font-size: 35px;
    border-width: 0;
    color: #fff;
    margin-top: 10px;

}

.linkedin {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    font-size: 35px;
    color: #fff;
    border-width: 0;
    margin-left: 15px;
    margin-top: 10px;
}

.instagram {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    border-width: 0;
    font-size: 35px;
    color: #fff;
    margin-left: 15px;
    margin-top: 10px;
}

.profileh3 {
    display: inline-flex;
    position: fixed;
    color: #b8b8b8;
    margin-top: 394px;
    text-align: justify;
    text-justify: inter-word;
}

.profileh5 {
    display: inline-flex;
    position: fixed;
    color: #b8b8b8;
    margin-top: 430px;
    text-align: left;
    text-justify: inter-word;
}

/* Estilo do menu */
.dark_menu {
    background-color: #000000;
}

.dark_menu_mobile {
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    height: 60%;
    border-bottom-right-radius: 10px;
}

.dark_dropdown {
    background-color: #000000;
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 0;
}

.btn-close {
    filter: invert(1);
}

.btn-dark {
    background-color: #000000;
    border: none;
}

/* Estilo dos modelos 3D */

#esfera3d,
#torus {
    margin-top: 90px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo da data e hora */

#data,
#hora {
    color: #fff;
    font-size: 96px;
    font-weight: 300;
    align-self: center;
}

.display, #data,#hora{
    line-height: 85px;
    letter-spacing: 1px;
    background:linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}

/* Ajuste da tela em smartphone */
@media screen and (max-width: 25em) {

    #data,
    #hora {
        color: #fff;
        font-size: 50px;
        font-weight: 300;
        align-self: center;
    }

    #esfera3d,#torus {
        width: 90%;
        margin-top: 90px;
        background: transparent;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

/* Card Portfolio */

.port-container {
    padding: 30px;
    align-items: center;
}

.port-container h5 {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
}

.card {
    
    background-color: transparent;
    border-color: #000000;
}

.card-container .card {
    flex: 1 1 1;
    max-width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}
.img-card {
    min-height: 50%;
}
.card-container .img-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title, .card-text {
    color: #fff;
}

.card .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}