* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 60px;
    bottom: 0%;
    position: relative;
}

ul,
li {
    color: #b8b8b8;
}

h1,
h2,
h3,
h5,
h6 {
    color: #b8b8b8;
}

h6 {
    font-size: small;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
.main {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(linear, #000000, #001338, #4b566b);
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(50%, #001338), to(#4b566b));
    background: -moz-linear-gradient(top, #000000, #001338, #4b566b);
}

.main1 {
    background: -webkit-linear-gradient(linear, #000000, #001338, #4b566b);
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), color-stop(50%, #001338), to(#4b566b));
    background: -moz-linear-gradient(top, #000000, #001338, #4b566b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

footer {
    min-height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: none;
    margin-top: 20px;
    line-height: 15px;
    position: fixed;
}

/* Imagens */

.profile {
    max-width: 284px;
    max-height: 284px;
    border-radius: 50%;
    margin-top: 100px;
    position: fixed;
    display: inline-flex;
}

.github {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    font-size: 35px;
    border-width: 0;
    filter: invert(100%);
    margin-top: 10px;

}

.linkedin {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    font-size: 35px;
    border-width: 0;
    filter: invert(100%);
    margin-left: 15px;
    margin-top: 10px;
}

.instagram {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    border-width: 0;
    font-size: 35px;
    filter: invert(100%);
    margin-left: 15px;
    margin-top: 10px;
}

.profileh3 {
    display: inline-flex;
    position: fixed;
    color: #b8b8b8;
    margin-top: 394px;
    text-align: justify;
    text-justify: inter-word;
}

.profileh5 {
    display: inline-flex;
    position: fixed;
    color: #b8b8b8;
    margin-top: 430px;
    text-align: left;
    text-justify: inter-word;
}

/* Estilo do menu */
.dark {
    background-color: #000000;
    color: #fff;
    font-size: larger;
    height: 60%;
    border-bottom-right-radius: 10px;
}

/* Estilo dos modelos 3D */

#esfera3d,
#torus {
    margin-top: 90px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo da data e hora */

#data,
#hora {
    color: #fff;
    font-size: 96px;
    font-weight: 300;
    align-self: center;
    /* animation: glitch 1s linear infinite; */
}

/* Animação de glitch */
/* @keyframes glitch {

    2%,
    64% {
        transform: translate(1px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-1px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

#hora:before,
#data:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#hora:after,
#data:after {
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
} */