---
layout: default
---

<body class="main1">
  <div class="container-fluid port-container d-flex justify-content-center">
    <div class="card-container row">
      {% for post in site.posts %} {% if post.categorie == "Artigo" %}
      <div class="card card-port">
        <img
          src="{{ post.image }}"
          class="card-img-top img-card"
          alt="{{post.title}}"
        />
        <div class="card-body card-body-horizontal">
          <h2 class="card-title">{{ post.title}}</h2>
          <div class="post-line"></div>
          <br />
          <p class="card-text">{{ post.description | truncate: 60 }}</p>
          <a
            href="{{site.baseurl}}{{ post.url }}"
            class="btn btn-dark btn-card"
          >
            Detalhe
          </a>
          <time class="card-data">{{ post.date | date: "%B %d, %Y"}}</time>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</body>
