---
layout: default
---

<main class="main">
    <div class="container-fluid mt-4 mb-4 d-flex justify-content-end">
        <div class="port-input-container">
            <input
                type="text"
                id="searchInput"
                class="form-control bg-dark"
                placeholder="Buscar pelo nome..."
            />
        </div>
    </div>

    <div class="container-fluid port-container d-flex justify-content-center">
        <div class="card-container row" id="cardContainer">
            {% for post in site.posts %} {% if post.categorie == "Portfolio" %}
            <div
                class="card card-port"
                data-title="{{ post.title | downcase }}"
            >
                <img
                    src="{{ post.image }}"
                    class="card-img-top img-card"
                    alt="{{post.title}}"
                />
                <div class="card-body card-body-horizontal">
                    <h2 class="card-title">{{ post.title}}</h2>
                    <div class="post-line"></div>
                    <br />
                    <p class="card-text">
                        {{ post.description | truncate: 60 }}
                    </p>
                    <a
                        href="{{ site.baseurl }}{{ post.url }}"
                        class="stretched-link"
                    >
                    </a>
                    <time class="card-data">
                        {{ post.date | date: "%B %d, %Y"}}
                    </time>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>

    {% include blog/no-results.html %}

    <script src="{{'_assets/js/global/search_post.js' | relative_url}}"></script>
</main>
