---
title: site.title
layout: default
---

<main class="main">
    {% if page.categorie == "Portfolio" or page.categorie == "Artigo" %}
    <div class="container my-4" style="padding-top: 10px">
        <div class="card post-card">
            <div class="card-body">
                <div class="row align-items-center mb-3">
                    <div class="col">
                        <h2 class="post-title">{{ page.title }}</h2>
                    </div>
                    <div class="col-md-auto text-end">
                        {% if page.categorie == "Portfolio" %}
                        <time class="post-data"
                            >{{ page.date | date: "%d %b. %Y" }}</time
                        >
                        {% else %}
                        <time class="post-data"
                            >{{ page.date | date: "%B %-d, %Y" }}</time
                        >
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <a
                            class="btn dark-btn btn-back-post"
                            href="{{ site.baseurl }}/{% if page.categorie == 'Portfolio' %}portfolio{% else %}artigo{% endif %}"
                        >
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="post-content">{{ content | markdownify }}</div>
            </div>
        </div>
    </div>
    {% endif %}

    <script src="{{ '_assets/js/global/modal_image.js' | relative_url }}"></script>
</main>
