---
layout: default
---

<main class="main">
    <div class="container text-center">
        <div class="row display">
            <div class="col"><h1 style="margin-top: 50px">Hora</h1></div>
        </div>
        <div class="row display">
            <div class="col" id="hora"></div>
        </div>
        <div class="row display">
            <div class="col"><h1>Data</h1></div>
        </div>
        <div class="row display">
            <div class="col" id="data"></div>
        </div>
    </div>

    <script src="{{"_assets/js/tools/date_time.js" | relative_url}}"></script>
</main>
