,
<header>
  <nav
    class="navbar navbar-dark dark_menu navbar-expand-lg dark_menu fixed-top"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarOffcanvasLg"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas dark_menu_mobile offcanvas-start"
        tabindex="-1"
        id="navbarOffcanvasLg"
        aria-labelledby="navbarOffcanvasLgLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close offcanvas-title"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ site.baseurl }}/"
                >Início</a
              >
            </li>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Blog</a
                >
                <ul class="dropdown-menu dropdown-menu-dark dark_dropdown">
                  <li class="nav-item">
                    <a
                      class="dropdown-item"
                      href="{{ site.baseurl }}/portfolio.html"
                      >Portfólio</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ site.baseurl }}/artigo.html"
                      >Artigo Científico</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="{{ site.baseurl }}/curriculo.html"
                >Currículo</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="{{ site.baseurl }}/data_hora.html"
                >Data/Hora</a
              >
            </li>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Modelos3D</a
                >
                <ul class="dropdown-menu dropdown-menu-dark dark_dropdown">
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ site.baseurl }}/esfera.html"
                      >Esfera</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="{{ site.baseurl }}/torus.html"
                      >Toróide</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </ul>
          <div
            class="container-fluid d-flex justify-content-end flex-grow-3 pe-3"
          >
            <a href="{{ site.github }}" target="_blank">
              <div class="github"><ion-icon name="logo-github"></ion-icon></div>
            </a>
            <a href="{{ site.linkedin }}" target="_blank">
              <div class="linkedin">
                <ion-icon name="logo-linkedin"></ion-icon>
              </div>
            </a>
            <a href="{{ site.instagram }}" target="_blank">
              <div class="instagram">
                <ion-icon name="logo-instagram"></ion-icon>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
