@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 40px;
    bottom: 0%;
    position: relative;
}

ul,
li {
    color: #b8b8b8;
}

h1,
h2,
h3,
h5,
h6 {
    color: #b8b8b8;
}

h6 {
    font-size: small;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
    padding-bottom: 40px;

    background: linear-gradient(linear, #000000, #001338, #4b566b);
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#000000),
        color-stop(50%, #001338),
        to(#4b566b)
    );
    background: -moz-linear-gradient(top, #000000, #001338, #4b566b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer {
    min-height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: none;
    margin-top: 20px;
    line-height: 15px;
    position: fixed;
}

::-webkit-scrollbar {
    width: 12px;
    color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Imagens */

.profile {
    max-width: 284px;
    max-height: 284px;
    border-radius: 50%;
    margin-top: 100px;
    position: fixed;
    display: inline-flex;
}

.github,
.instagram,
.linkedin {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    display: inline-flex;
    font-size: 35px;
    color: #fff;
    border-width: 0;
    margin-left: 15px;
    margin-top: 10px;
}

.profileh3 {
    display: inline-flex;
    position: fixed;
    color: #b8b8b8;
    margin-top: 394px;
    text-align: justify;
    text-justify: inter-word;
}

.profileh5 {
    display: inline-flex;
    position: fixed;
    color: #b8b8b8;
    margin-top: 430px;
    text-align: left;
    text-justify: inter-word;
}

/* Estilo do menu */

.dark_menu {
    background-color: #000000;
}

.dark_menu_mobile {
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    height: 68%;
    border-bottom-right-radius: 10px;
}

.dark_dropdown {
    background-color: #000000;
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 0;
}

.btn-close {
    filter: invert(1);
}

.btn-dark {
    background-color: #000000;
    border: none;
}

.shadertoy-text {
    font-family: "Lobster", cursive;
    font-size: 28px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    text-align: center;
    line-height: 35px;
}

/* Estilo dos modelos 3D */

#esfera3d,
#torus {
    margin-top: 90px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fire {
    width: 70vw;
    height: 60vh;
    display: block;
    margin-top: 20px;
    background: transparent;
}

.fireControl {
    margin-top: 20px;
}

.fireRange {
    appearance: none;
    width: 45%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(90deg, #ff4500, #ffcc00);
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.fireRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #ff4500;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.fireRange::-webkit-slider-thumb:hover {
    background: #ffcc00;
    border-color: #ff4500;
}

@media (max-width: 768px) {
    #esfera3d,
    #torus {
        width: 90%;
        margin-top: 90px;
        background: transparent;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #fire {
        width: 90vw;
        height: 50vh;
    }
}

/* Estilo da data e hora */

#data,
#hora {
    color: #fff;
    font-size: 96px;
    font-weight: 300;
    align-self: center;
}

.display,
#data,
#hora {
    line-height: 85px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    background-clip: text;
    color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 768px) {
    #data,
    #hora {
        color: #fff;
        font-size: 50px;
        font-weight: 300;
        align-self: center;
    }
}

/* Card Portfolio */

.detal_port {
    max-width: 35px;
    max-height: 35px;
    display: inline-flex;
    border-width: 0;
    font-size: 35px;
    color: #fff;
}

.card-data {
    display: inline-flex;
    padding-top: -5px;
}

.port-container {
    padding: 30px;
    align-items: center;
    padding-top: 40px;
}

.port-container h5 {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card-container .card-port {
    flex: 1 1 calc(33.333% - 10px);
    flex-direction: column;
    display: flex;
    max-width: 500px;
    max-height: 40%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    background-color: #4b566b;
    border-color: #000000;
    border-style: solid;
}

.img-card {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

.card-container .img-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title,
.card-text,
.card-data {
    color: #fff;
}

.card-text,
.card-data {
    font-size: 18px;
}

.btn-card {
    font-size: 18px;
}

.card-port .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Card Mobile */

@media (max-width: 768px) {
    .card-port .card-title {
        font-weight: bold;
        margin-bottom: 30px;
    }

    .card-container .card-port {
        flex: 1 1 100%;
        max-width: 100%;
        max-height: 30%;
        border-radius: 10px;
        padding: 0;
        margin: 5px;
        background-color: #4b566b;
        border-color: #000000;
        border-style: solid;
    }

    .img-card {
        width: 100%;
        height: 80%;
    }
}

/* Estilo da página 404 */

.space-background {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(circle, #020024, #323246, #000);
    color: #fff;
}

.content-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-404 {
    font-size: 120px;
    margin: 0;
    color: #fff;
}

.text-404 {
    font-size: 24px;
    color: gray;
}

.description-404 {
    font-size: 18px;
    color: gray;
}

.link-404 {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .title-404 {
        font-size: 80px;
    }
    .text-404 {
        font-size: 18px;
    }
    .description-404 {
        font-size: 16px;
    }
}

.stars,
.stars2,
.stars3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Credits https://gist.github.com/SH20RAJ/48a8733e755b59c16ae32b5d00614564 */

.stars {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png")
        repeat top center;
    animation: moveStars 50s linear infinite;
}

.stars2 {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars2.png")
        repeat top center;
    animation: moveStars2 100s linear infinite;
}

.stars3 {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars3.png")
        repeat top center;
    animation: moveStars3 150s linear infinite;
}

@keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes moveStars2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px -5000px;
    }
}

@keyframes moveStars3 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5000px 10000px;
    }
}

/* Estilo da postagem */

.post-img {
    width: 50%;
}
.post-title,
.post-data,
.post-text {
    color: #fff;
    text-shadow: 1px 1px #000;
}

.post-list li {
    color: #fff;
}

.post-line {
    width: 100%;
    border: 1px solid #b8b8b8;
    margin: 2rem 0;
}

.post-text table code {
    background-color: #f5f5f5;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.95em;
}

.post-card {
    margin-top: 30px;
    background-color: #4b566b;
}

.btn-back-post {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50px;
    height: 50px;
}

.code-text {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-family: "Fira Code", "Source Code Pro", Consolas, Monaco, monospace;
    font-size: 0.9em;
    box-shadow: inset 0 -1px 0 #444;
    transition: background-color 0.3s ease;

    display: inline-block;
    min-width: 150px;
    white-space: nowrap;
    text-align: left;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.code-text:hover {
    background-color: #44475a;
    color: #ff79c6;
    cursor: text;
}

/* Estilo do Draw */

.main-draw,
.container-draw {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sidebar-draw {
    margin-top: 75px;
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7);
    border-radius: 0 0 10px 0;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 180px;
    width: 10rem;
    z-index: 1000;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding-top: 1rem;
}

.sidebar-draw ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    height: 100%;
}

.sidebar-draw ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.sidebar-draw label {
    font-size: 14px;
    width: 45%;
}

.sidebar-draw input {
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 50%;
    font-size: 12px;
}

.sidebar-draw input:focus {
    outline: none;
}

#color-draw {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

#color-draw::-webkit-color-swatch {
    border: none;
}

#clear-draw {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    transition: background 0.3s;
}

#clear-draw.active {
    background-color: #fff;
}

#clear-draw.active svg {
    fill: #000;
}

#clear-draw:hover {
    background-color: #444;
}

#clear-draw svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

#paint-cursor,
#eraser-cursor {
    position: fixed;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2000;
}

#paint-cursor {
    background-color: #fff;
}

#eraser-cursor {
    border: 2px solid #fff;
    background-color: #fff;
}

/* Modal image */

#post-img:hover {
    opacity: 0.7;
}

.modal-img {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

.close {
    position: relative;
    top: 0;
    left: 90%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Calculadora */
.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 60px;
}

.visor {
    height: 90%;
    width: 60%;
    padding: 10px;
    background-color: rgba(44, 44, 44, 0.5);
    font-size: 50px;
    border-radius: 5px 5px 0 0;
}

#inputVisor {
    height: 80px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: xx-large;
    background-color: rgba(44, 44, 44, 0.3);
    color: #fff;
    width: 100%;
}

.calculator {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: rgba(44, 44, 44, 0.5);
    border-radius: 0 0 5px 5px;
}

.btn-calculator {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(87, 86, 86, 0.5);
    transition: background-color 0.3s ease;
    font-size: x-large;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 10px 10px 45% 45%;
}

.btn-calculator:hover {
    background-color: #b8b6b6;
}

.merge-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px 10px 45% 45%;
}

.btn-merge-left {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(87, 86, 86, 0.5);
    transition: background-color 0.3s ease;
    border: none;
    color: #fff;
    font-size: x-large;
    border-radius: 10px 0 0 45%;
}

.btn-merge-left:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-merge-right {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(87, 86, 86, 0.5);
    transition: background-color 0.3s ease;
    border: none;
    color: #fff;
    font-size: x-large;
    border-radius: 0 10px 45% 0;
}

.btn-merge-right:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 500px) {
    .calculator-container {
        padding: 10px;
    }

    .visor {
        width: 80%;
    }

    .calculator {
        width: 80%;
    }

    .btn-calculator,
    .btn-merge-left,
    .btn-merge-right {
        padding: 5px;
        font-size: medium;
    }
}

@media (max-width: 360px) {
    .visor {
        width: 90%;
    }

    .calculator {
        width: 90%;
    }

    .btn-calculator,
    .btn-merge-left,
    .btn-merge-right {
        padding: 2px;
        font-size: 12px;
        border-radius: 5px 5px 45% 45%;
    }
}

/* Chronometer */

.chronometer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 60px;
}

#chronometer {
    font-style: italic;
    font-family: "Orbitron";
    font-size: 80px;
}

.milliseconds {
    font-style: italic;
    font-family: "Orbitron";
    font-size: 50%;
    vertical-align: baseline;
    opacity: 0.8;
    display: inline-block;
    width: 40px;
    text-align: left;
}

.chronometer-btn-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.btn-chronometer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    padding: 0;
}

#btn-lap,
#btn-stop {
    display: none;
}

#btn-start .chronometer-icon {
    margin-left: 1px;
}

.chronometer-icon {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chrnometer-table-container {
    display: none;
    width: 50%;
    margin-top: 20px;
}

.chronometer-table {
    width: 100%;
    color: #b8b8b8;
    text-align: center;
    border-collapse: collapse;
}

.chronometer-table tbody tr td {
    font-family: "Orbitron";
    font-style: italic;
}

@media (max-width: 500px) {
    #chronometer {
        font-size: 60px;
    }

    .milliseconds {
        font-size: 50%;
    }

    .chronometer-btn-group {
        flex-direction: row;
        gap: 8px;
    }

    .btn-chronometer {
        width: 45px;
        height: 45px;
    }

    .chronometer-icon {
        font-size: 20px;
    }

    #chrnometer-table-container {
        width: 80%;
    }

    .chronometer-table {
        font-size: 12px;
    }

    .chronometer-table tbody tr td {
        padding: 10px;
    }
}

@media (max-width: 360px) {
    #chronometer {
        font-size: 50px;
    }

    .milliseconds {
        font-size: 40%;
    }

    .btn-chronometer {
        width: 40px;
        height: 40px;
    }

    .chronometer-icon {
        font-size: 18px;
    }

    #chrnometer-table-container {
        width: 90%;
    }

    .chronometer-table {
        font-size: 10px;
    }

    .chronometer-table tbody tr td {
        padding: 8px;
    }
}
