---
layout: default
---

<head>
    <!--Prism.js - https://prismjs.com/ -->
    <link rel="stylesheet" type="text/css" href="{{"_assets/css/prism.css" |
    relative_url}}">    
</head>

<br>
<div class="main1"><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-dark text-white" data-bs-toggle="collapse"
                    data-bs-target="#linux">Show/Hide Code
                </button>
                <div align="center" class="container" style="margin-top: 20px;">
                    <div id="linux" class="collapse">
                        <pre><code class="language-javascript">
              import { Point, pi } from "./Point.js";

                const c = document.getElementById("esfera3d");
                const ctx = c.getContext("2d");
                const w = (c.width = 480);
                const h = (c.height = 480);
                document.body.appendChild(c);
                
                class Sphere {
                    constructor(radius = 20, vertexQuantity = 20) {
                        this.point = [];
                        this.color = `rgb(255,255,255)`;
                        this.radius = radius;
                        this.numVertexes = 0;
                        this.vertexQuantity = vertexQuantity;
                        this.rotation = 0;
                        this.distance = 0;
                        this.init();
                    }
                
                    init() {
                        let increment = pi / this.vertexQuantity;
                        for (let alpha = increment; alpha <= 2 * pi; alpha += increment) {
                            for (let beta = increment; beta <= pi; beta += increment) {
                                let p = (this.point[this.numVertexes] = new Point());
                                p.x = Math.cos(alpha) * Math.sin(beta) * this.radius;
                                p.y = Math.sin(alpha) * this.radius;
                                p.z = Math.cos(alpha) * Math.cos(beta) * this.radius;
                                this.numVertexes++;
                            }
                        }
                    }
                
                    draw() {
                        let x, y;
                        let p = new Point(0, 0, 0, ctx);
                        for (let i = 0; i < this.numVertexes; i++) {
                            p.x = this.point[i].x;
                            p.y = this.point[i].y;
                            p.z = this.point[i].z;
                            p.rotateY(this.rotation);
                            x = p.getProjection(this.distance, p.x, w / 2.0, 100.0);
                            y = p.getProjection(this.distance, p.y, h / 2.0, 100.0);
                            p.draw(x, y, this.color);
                        }
                    }
                
                    update() {
                        this.rotation += pi / 360.0;
                        this.distance = 900;
                    }
                }
                
                const esfera = new Sphere();
                let animationRunning = false;
                
                const draw = () => {
                    ctx.save();
                    ctx.clearRect(0, 0, w, h);
                    esfera.draw();
                    ctx.restore();
                    esfera.update();
                
                    animationRunning ? requestAnimationFrame(draw) : 0;
                };
                
                const startAnimation = () => {
                    animationRunning = true;
                    draw();
                };
                
                const stopCleanCanvas = () => {
                    animationRunning = false;
                    ctx.clearRect(0, 0, w, h);
                };
                
                document.getElementById("play")
                    .addEventListener("click", startAnimation);
                document
                    .getElementById("stop_clean")
                    .addEventListener("click", stopCleanCanvas);
                            
                        </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row my-2" style="margin-top: 30px;">
                <div class="col">
                    <button class="btn btn-dark" id="play" style="margin-right: 10px;">Play</button>
                    <button class="btn btn-dark" id="stop_clean">Stop / Clean</button><br><br>
                    <h3 class="d-flex justify-content-center">Esfera</h3><br><br><br>
                    <canvas id="esfera3d">
                        <h2>Seu Navegador Não Suporta Canvas</h2>
                    </canvas>
                    <script type="module" src="{{"_assets/js/3Dmodels/sphere.js" | relative_url}}"></script>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Prism.js - https://prismjs.com/-->
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"
></script>
