---
layout: default
---

<script type="module" src="{{"_assets/js/Calculadora/app.js" | relative_url}}"></script>
<br>
<div class="main1">
    <br><br>
    <div class="container calculator-container justify-content-center align-items-center">
        <div class="visor">
            <input type="text" id="inputVisor" maxlength="21" autofocus>
        </div>
        <div class="calculator">
            <input type="button" class="btn-calculator" id="btnPercent" value="%">
            <input type="button" class="btn-calculator" id="btnSquareRoot" value="√">
            <div class="merge-button">
                <input type="button" class="btn-merge-left" id="btnPi" value="π">
                <input type="button" class="btn-merge-right" id="btnEuler" value="e">
            </div>
            <input type="button" class="btn-calculator" id="btnDelete" value="Del">
            <input type="button" class="btn-calculator" id="btnAllClear" value="AC">
            <input type="button" class="btn-calculator" id="btnSeven" value="7">
            <input type="button" class="btn-calculator" id="btnEight" value="8">
            <input type="button" class="btn-calculator" id="btnNine" value="9">
            <input type="button" class="btn-calculator" id="btnPower" value="x&#x02B8;">
            <div class="merge-button">
                <input type="button" class="btn-merge-left" id="btnParenLeft" value="(">
                <input type="button" class="btn-merge-right" id="btnParenRight" value=")">
            </div>
            <input type="button" class="btn-calculator" id="btnFour" value="4">
            <input type="button" class="btn-calculator" id="btnFive" value="5">
            <input type="button" class="btn-calculator" id="btnSix" value="6">
            <input type="button" class="btn-calculator" id="btnMulti" value="×">
            <input type="button" class="btn-calculator" id="btnDiv" value="÷">
            <input type="button" class="btn-calculator" id="btnOne" value="1">
            <input type="button" class="btn-calculator" id="btnTwo" value="2">
            <input type="button" class="btn-calculator" id="btnThree" value="3">
            <input type="button" class="btn-calculator" id="btnAdd" value="+">
            <input type="button" class="btn-calculator" id="btnSubt" value="-">
            <input type="button" class="btn-calculator" id="btnZero" value="0">
            <input type="button" class="btn-calculator" id="btnComma" value=".">
            <input type="button" class="btn-calculator" id="btnSciNotation" value="x10">
            <input type="button" class="btn-calculator" id="btnAns" value="Ans">
            <input type="button" class="btn-calculator" id="btnEqual" value="=">
        </div>
    </div>
</div>