---
layout: default
---

<div class="main1">

    <div class="container-fluid">
        <br>
        <div class="container">
            <div class="d-flex justify-content-start">
                <h3>Resumo - Objetivo</h3>
            </div>
            <div class="d-flex justify-content-start">
                <h5>
                    <p>
                        Sou especializado em desenvolvimento e manutenção de software WEB e Desktop.
                    </p>
                    <p>
                        Estou interessado em desenvolver software para indústria, projetar e programar computadores
                        de bordo, e desenvolver soluções para a área de simulações matemáticas e/ou modelos da física.
                    </p>
                </h5>
            </div>
            <div class="d-flex justify-content-start">
                <h3>Formação</h3>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Nível: Ensino Técnico</h5>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Instituição: SENAI - Serviço Nacional de Aprendizagem Industrial - Concórdia</h5>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Curso: Técnico em Informática</h5>
            </div><br>
            <div class="d-flex justify-content-start">
                <h5>Nível: Graduação</h5>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Instituição: Centro Universitário Internacional - UNINTER</h5>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Curso: Bacharelado em Engenharia da Computação</h5>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Situação da Formação: Em Andamento</h5>
            </div><br>
            <div class="d-flex justify-content-start">
                <h3>Habilidade</h3>
            </div>
            <div class="d-flex justify-content-start">
                <h5>Conhecimentos gerais - Informática:</h5>
                <ul>
                    <li>
                        <h5>Windows: Básico</h5>
                    </li>
                    <li>
                        <h5>Linux (Debian): Básico</h5>
                    </li>
                    <li>
                        <h5>Excel: Básico</h5>
                    </li>
                    <li>
                        <h5>PowerPoint: Básico</h5>
                    </li>
                    <li>
                        <h5>Word: Básico</h5>
                    </li>
                </ul>
            </div><br>
            <div class="d-flex justify-content-start">
                <h5>Conhecimento gerais - Idiomas Estrangeiros:</h5>
                <ul>
                    <li>
                        <h5>Inglês: Escrevo e Leio</h5>
                    </li>
                    <li>
                        <h5>Espanhol: Escrevo e Leio</h5>
                    </li>
                </ul>
            </div><br>
            <div class="d-flex justify-content-start">
                <h5>Tecnologia da Informação - Programação:</h5>
                <ul>
                    <li>
                        <h5>C: Básico</h5>
                    </li>
                    <li>
                        <h5>C++: Básico</h5>
                    </li>
                    <li>
                        <h5>Java: Básico</h5>
                    </li>
                    <li>
                        <h5>Python: Básico</h5>
                    </li>
                    <li>
                        <h5>HTML: Básico</h5>
                    </li>
                    <li>
                        <h5>CSS: Básico</h5>
                    </li>
                    <li>
                        <h5>JavaScript: Básico</h5>
                    </li>
                    <li>
                        <h5>PHP: Básico</h5>
                    </li>
                    <li>
                        <h5>Object-Pascal: Básico</h5>
                    </li>
                </ul>
            </div><br>
            <div class="d-flex justify-content-start">
                <h5>Tecnologia da Informação - Banco de Dados:</h5>
                <ul>
                    <li>
                        <h5>MySQL: Básico</h5>
                    </li>
                    <li>
                        <h5>Postgre SQL: Básico</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div><br><br><br>

</div>
