---
title: site.title
layout: default
---

<body class="main1">
  {% if page.categorie == "Portfolio" %}
  <div class="container">
    <div class="card post-card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h2 class="post-title">{{ page.title}}</h2>
            <br />
          </div>
          <div class="col text-end">
            <time class="post-data"
              >{{ page.date | date: "%B, %-d/%-m/%Y"}}</time
            >
          </div>
          <br />
        </div>
        <br />
        {{ content | markdownify }}
      </div>
    </div>
  </div>
  {% endif %} {% if page.categorie == "Artigo" %}
  <div class="container">
    <div class="card post-card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h2 class="post-title">{{ page.title}}</h2>
          </div>
          <div class="col text-end">
            <time class="post-data"
              >{{ page.date | date: "%B, %-d/%-m/%Y"}}</time
            >
          </div>
        </div>
        <br />
        {{ content | markdownify }}
        <br />
      </div>
    </div>
  </div>
  {% endif %}
  <br />
  <script src="{{"assets/js/modal_image.js" | relative_url}}"></script>
</body>
